<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="INFO">
    <Appenders>
        <Console name="Console-currentdate" target="SYSTEM_OUT">
            <PatternLayout pattern="%highlight{[%-5level{VERBOSE=VERB}] %d{HH:mm:ss.SSS} [%t] %logger{1}:%L | %msg (%X{currentDate})%n}{FATAL=bright red, ERROR=bright red, VERBOSE=bright magenta, WARN=bright yellow, INFO=bright green, DEBUG=bright cyan, TRACE=bright black}" />
        </Console>
        <File name="MyFile-currentdate" fileName="Logs/logs-${date:dd-MM-yyyy}.log" immediateFlush="true" append="true">
            <PatternLayout pattern="[%-5level{VERBOSE=VERB}] %d{HH:mm:ss.SSS} %logger{2} | %msg (%X{currentDate})%n" />
        </File>
        <Console name="Console" target="SYSTEM_OUT">
            <PatternLayout pattern="%highlight{[%-5level{VERBOSE=VERB}] %d{HH:mm:ss.SSS} [%t] %logger{1}:%L | %msg%n}{FATAL=bright red, ERROR=bright red, VERBOSE=bright magenta, WARN=bright yellow, INFO=bright green, DEBUG=bright cyan, TRACE=bright black}" />
        </Console>
        <File name="MyFile" fileName="Logs/logs-${date:dd-MM-yyyy}.log" immediateFlush="true" append="true">
            <PatternLayout pattern="[%-5level{VERBOSE=VERB}] %d{HH:mm:ss.SSS} %logger{2} | %msg%n" />
        </File>
    </Appenders>

    <Loggers>
        <Logger name="it.vin.dev.menzione.main_frame.MainFrame" level="all" additivity="false">
            <AppenderRef ref="Console-currentdate" level="debug"/>
            <AppenderRef ref="MyFile-currentdate" level="verbose"/>
        </Logger>
        <Root level="all">
            <AppenderRef ref="Console" level="all"/>
            <AppenderRef ref="MyFile" level="verbose"/>
        </Root>
    </Loggers>
</Configuration>